@import "reset.css";

.head-container {
    width: 100%;
    max-width: 1280px;
    margin: 63px 100px 48px 100px;
}

.menu {
    margin-top: 63px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.logo {
    align-self: flex-start;
    text-decoration: none;
    color: black;
    font-size: 80px;
    margin-bottom: 38px;
}

.logoblue {
    color: rgba(75, 202, 255, 1);
    margin-right: 800px;
    height: border-box;
}

.menu-list {
    margin-top: 38px;
    max-height: 70px;
    align-self: end;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(53, 68, 79, 1);
    border: 2px white solid;
}

.menu-list li {
    list-style: none;
}

.menu-list li:hover {
    background: rgba(34, 47, 58, 1);
    /*ПРИБРАТИ ЗБІЛЬШЕННЯ ПРИ НАВЕДЕННІ*/
}

.menu-list li a {
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.navli {
    display: block;
    height: 70px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    border-right: 1px white solid;
}

.navli-1 {
    border-left: white 1px solid;
}
.wrap {
    margin-left: 100px;
    display: flex;
    width: 100%;
    max-width: 1280px;
    /*margin-top: 48px;*/
    justify-content: space-between;
}

.side-container {
    width: 100%;
    height: 100%;
    max-width: 344px;
    max-height: 400px;
    margin: 48px 52px 484px 0;
    border: 1px black solid;
}

.side-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
/*    max-width: 344px;*/
    max-height: 400px;
}

.side-list li {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.side-list li a {
    display: flex;
    justify-items: center;
}

.side-li {
    align-items: center;
    padding-left: 44px;
    display: block;
    height: 80px;
    text-decoration: none;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    width: 100%;
}

.side-li:hover {
    color: black;
    box-sizing: border-box;
    background: #DBDBDB;
    padding-left: 74px;
}

.main-content{
    width: 100%;
    height: 100%;
    max-width: 885px;
    max-height: 829px;
    margin: 0 0 37px 52px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pic-container {
    display: flex;
    width: 885px;
    height: 529px;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

img {
    transition: transform 0.25s;
}
.pic-container:hover img {
    transform: scale(1.1);
}

.aries {
    width: 320px;
    height: 381px;
}

.text {
    margin-top: 36px;
    font-size: 18px;
    line-height: 24px;
}

/*.text {
    height: 263px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.text p {
    font-size: 18px;
    line-height: 24px;
    color: black;
}*/

.foot-menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1280px;
    height: 70px;
    background: rgba(99, 105, 110, 0.48);
    align-content: center;
    justify-content: space-between;
}

.foot-list {
    width: 100%;
    margin-left: 40px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.foot-list li a{
    color: black;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
}

.foot-list li a:hover {
    color: rgba(49, 129, 166, 1);
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6;
}

.copy {
    font-size: 24px;
    line-height: 24px;
    margin-right: 40px;
}

.foot-wrap {
    width: 875px;
    height: 28px;
}